*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",  sans-serif
}

header{
    z-index: 999;
    position: absolute;


    display: flex;
    justify-content:center;
    padding: 12px 20px;

    align-items: center;
}


/*-------HEADER----*/
/*-------HEADER----*/
body{
    width: 100%;
    height: 100vh;
    padding: 10px;
    animation: bge 20s infinite;
    position: relative;
     
}

.logo{
    position: absolute;
    top: 8px;
    left: 50px;
    width: 110px;
    height: auto;
    

}

.logo img{
    width: 100%;
    height: 150%;
    border-radius: 20px;
    
}

header .navigation{
    position: relative;
    display: none;
}

header .brand{
    color: hsla(246, 80%, 53%, 0.801);
    font-size: 1.9em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

section{
    padding: 100px 20px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 2.1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 30px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 400;
}

.home .content p{
    margin-bottom: 30px;
}

.home .content a{
    background:rgba(10, 10, 201, 0.912);
    padding: 15px 35px;
    color:#fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

@media (max-width: 1040px){
    header{
    padding:12px 20px;
    
}

section{
  padding: 100px 20px;
}

.home .media-icons{
    right: 15px;
}

header .navigation{
    display: none;
}

}


















@keyframes bge{
    0%{
        background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url(pexels-babydov-7788009.jpg);
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
    }

    100%{
        background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url(pe\ 2.jpg);
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
    }
}















